@font-face {
  font-family: Helvetica Neue;
  src: url(../../font/HelveticaNeue.ttc);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica Neue;
  color: #1a1a1a;
}

.grid-container {
  margin: auto 0;
  display: grid;
  height: 1080px;
  grid-template-columns: 1090px auto;
}

.form-generator {
  background-color: #f9f9f9;
}

.icon {
  position: absolute;
  top: 45px;
  left: 45px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}

.form-header {
  margin-left: 150px;
  margin-right: 150px;
  font-weight: 400;
  font-size: 20px;
  border-bottom: 1px solid #1a1a1a;
  margin-bottom: 77px;
}

.header-content {
  display: flex;
  justify-content: space-between;
  padding-top: 47px;
  padding-bottom: 12px;
}

.header-text {
  font-weight: 700;
  font-size: 24px;
}


.content {
  margin-left: 150px;
  margin-right: 150px;
}

.flex-container {
  display: flex;
  
  justify-content: space-between;
}

.flex-container input {
  width: 370px;
}

.form-content {
  display: flex;
  flex-direction: column;
}

.form-div {
  margin-bottom: 31px;
}

.file-label {
  padding-right: 19px;
}

.actual-btn {
  display: inline-block;
  width: 107px;
  background-color: #0e80bf;
  color: white;
  padding: 10px 10px 12px 10px;
  border-radius: 4px;
  font-size: 14px;
  text-align: center;
  font-weight: 400;
  cursor: pointer;
  margin-top: 1rem;
}

label {
  font-size: 16px;
  font-weight: 600;
  line-height: 21px;
  color: #000000;
  padding-bottom: 8px;
}

input,
select,
button,
textarea {
  position: relative;
  font-family: Helvetica Neue;
  font-style: normal;
  outline: none;
  box-sizing: border-box;
  background: #ffffff;
  border: 1px solid #bcbcbc;
  border-radius: 4px;
}

input:focus,
select:focus,
textarea:focus {
  border: 2px solid #bcbcbc;
}


.wrong {
  border: 1px solid #EF5050;
}

.correct {
  border: 1px solid #98E37E;
}

select {
  width: 370px;
  height: 48px;
}

input {
  height: 48px;
  width: 100%;
}

input[type="text" i],
input[type="email" i],
input[type="tel" i],
input[type="date" i],
select,
textarea {
  font-size: 16px;
  font-weight: 400;
  padding: 13px 16px 14px 16px;
}


.submit {
  width: 151px;
  background-color: #6b40e3;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  float: right;
  cursor: pointer;
}

.back {
  width: 113px;
  background-color: #6b40e3;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  float: left;
  cursor: pointer;
}

.submit:hover,
.back:hover {
  background-color: #7949FF;
}

.submit:active,
.submit:active {
  background-color: #512FAF;
}

.warning {
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  color: #2e2e2e;
  padding-top: 8px;
}

.warning-icon {
  margin-left: 13.5px;
  width: 21px;
  height: 18.75px;
}

.resume {
  display: inline-block;
  background-color: #fff;
  width: 822px;
  padding: 48px 80px;
}

h1,
h2, 
h3 {
  color: #F93B1D;
  font-weight: 700;
}

h3 {
  padding-bottom: 15px;
}

.first-last-name {
  display: flex;
  padding: 20px 0;
  gap: 20px;
}

.profile img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  float: right;
}

.email,
.mobile {
  display: flex;
  gap: 12px;
  padding-bottom:10px;
}

.contact {
  margin-bottom: 24px;
}

hr {
  border: 1px solid #C1C1C1;
  margin-bottom: 37px;
}

.add-button {
  width: 289px;
  height: 48px;
  font-size: 16px;
  font-weight: 500;
  background-color: #62A1EB;
  color: #fff;
  border: none;
  border-radius: 4px;
  margin-top: 0;
  margin-bottom: 100px;
  cursor: pointer;
}

.textbox {
  margin-bottom: 27px;
}

.upload {
  padding: 23px 0;
}

.text {
  margin-bottom: 15px;
}

.line {
  margin-bottom: 24px;
}

.resume-flex {
  display: flex;
  padding-bottom: 7px;
}

.position-employer {
  font-weight: 700;
}

.position-employer:not(:first-child):before {
  content: ", ";
}

.dates{
  display: flex;
  margin-bottom: 15px;
  font-style: italic;
  font-weight: 400;
  color: #909090;
}

.date:not(:first-child):before {
  content: " - ";
}

.about {
  display: inline-block;
  width: 432px;
}

.description p{
  display: inline-block;
  width: 660px;
}

.about p,
.description p {
  width: fit-content;
}
.buttons {
  display: flex;
  gap:535px;
  margin-bottom: 65px;
}

.paragraph {
  width: 432px;
}